/* 1300px-769px */
/* @media (max-width:1299px) {
    header {
        padding: 6px 57px;
    }

    .section1 {
        padding: 185px 492px;

    }

    .h3_lore_section1 {
        padding:  57px;
    }
} */