/*  834px-481px */
/* @media (max-width:709px) {
    header {
        padding: 6px 46px;
    }
    .nav_main_ul {
        display: none;
    }
    .header_nav {
        justify-content: center;
    }
    .burger {
        display: block;
    }

     .h3_lore_section1 {
        padding:  38px;
    }
    


} */
    
